{% extends 'base.html' %}

{% block content %}

    <div class = "container" >
        <div class = "container p-3">
            <h1> Your Shopping Cart </h1>
            <br>
            {%for item in cart_items %}
            <h4> {{item.add_item}}</h4>
            <p> quantity: {{item.quantity}}</p>
            <hr> 
            {%endfor%}
            <br>
            <form method="POST"> 
                {%csrf_token%}
                <input type = "submit" class = "btn"> 
            
            </form>
            
        </div>

    </div>
{% endblock %}