{% extends 'base.html' %}
<!-- {% load static %} -->

{% block content %}





<link rel="stylesheet" type="text/css" href="{% static 'items/order_list.css' %}">


<style media="screen">
  body{
    margin-top:0;
  }
</style>

<!-- <div class="container">
  <h1 align='center'>Menu</h1>
  {% for item in menuitem_list %}
    <div class="jumbotron">
      <a href="{% url 'orders:item_detail' pk=item.id %}"><p>{{item.name}}</p></a>
      <p>{{item.price}}</p>
    </div>
  {% endfor %}
</div> -->

<header>
  <h1 style=>Our Menu</h1>
</header>

<section>
  <div class="order-list-content-section" ">

      <div class=>
        {% for category in item_categories %}
          <div id="{{category}}" >

              <h3 class="category-display" style="color:black;margin-bottom:25px;">{{category}}</h3>
            </div>

            <div class="row">
            {% for item in item_list %}
              {% if item.category == category %}
              
                  
                      <div class="price"></div>${{item.price}}</div>
                      <div class="item">
                          {{item}}
                      </div>
                    </div>
                  {% endif %}
                  </button>
                </div>
              {% endif %}
            {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>

 
    </div>
 
</section>

{% endblock %}