{% extends 'base.html' %}

{% block content %}
{%load static%}    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel = "stylesheet" type = "text/css"
href"{%static 'css/menu.css'%}"></link>
</head>
<body>
<div class="container p-3">
<h1>{{category}}</h1><br/>
{% for item in menu_details %}
  
   <h4>{{item.name}}</h4> 
   <p>$ {{item.price}}</h4>
   <form action="category/{{category}}/" method="POST">
   {% csrf_token %}
   <input type="number" name="quantity" value="1" min="1"/>
   <input type="hidden" name="added_item" value="{{item.pk}}"/>
   <!-- <input type="hidden"  name="cart" value="{{user.pk}}"/><br/><br/> -->
   <input type="submit" class="btn btn-secondary" value="Add to cart"/>
   </form>
  <hr/>
{% endfor %}
</div>
</body>
</html>
{% endblock %}