h1, h2, h3,h4,h5, h6, p , form{
    color: whitesmoke;
    }
body {
    background-color:rgb(47, 47, 47);
  }



.forms { display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40vw;
margin: auto;}