{% extends 'base.html' %}

{% block content %}

{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
ul li:last-child{
    border-bottom:0px;
}
ul li:not(.init) {
     display: block;
    background: #fff;
    color: #222;
    padding: 5px 10px;
    border:0px;
}
list-type-ulli, ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;
}
</style>
</head>
<form method="post">
{% csrf_token %}
{{ form.as_p }}  
  <p>Dont have an account? <a href="/accounts/signup/"> here</p>
  <button type="submit">Log In</button>
</form>
</body<>body
{% endblock %}